
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
      background-color: #EAFDFC;
      text-align: center;
      padding-top: 100px;
    }
    span{
        color: rgb(92, 94, 92);
    }
    .header{
        width: 95vw;
        font-size: 3rem;
        margin-left: 3rem;
        margin-bottom: 2rem;
        color: rgb(40, 40, 92);
        background-color: rgb(126, 164, 131);
        opacity: 0.8;
        border-radius: 0.5rem;
    }
    
    h1 {
      color: #b30c4f;
      font-size: 40px;
      margin-bottom: 30px;
    }
    
    p:hover,h1:hover{
        transition: 2s;
        letter-spacing: 2px;
    }
    #bestie{
        font-size: 1.5rem;
      color: #b30c4f;
        
    }
    .container{
        margin-top: 0px;
        padding-right: 20%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 19%;
        gap: 1rem;
    }
    .cake{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1%;
        height: 100%;
        width: 100%;
    }

    .img{
        width: 20vw;
        border-radius: 5px;
    }
    .img-1{
        width: 26vw;
        border-radius: 50%;

    }

    .img-2{
        height: 60%;
        width: 30vw;
        border-radius: 10px;
    }
    
    .confetti {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #ff0066;
      border-radius: 50%;
      opacity: 0.8;
      animation: confetti-fall linear infinite;
    }


    @keyframes vibrate {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(1deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-1deg); }
  80% { transform: rotate(1deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-1deg); }
}
 
.img:hover,.img-1:hover,.img-2:hover {
  animation: vibrate 0.5s;


  animation-iteration-count: 2;
}
    
    @keyframes confetti-fall {
      0% {
        transform: translateY(-100vh) rotate(0deg);
      }
      100% {
        transform: translateY(100vh) rotate(360deg);
      }
    }
  