*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #EAFDFC;
}

.container-in{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button{
    padding: 0.6rem 2.3rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800px;
    color: rgb(47, 47, 202);

}